*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}
.containerz{
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    /* background-image: linear-gradient(to right, #00bcd4, #04344c); */
    background-color: #04344c;
    padding: 40px 0;
}
.col1{
    padding: 0 140px;
}
.col{
    width: 31%;
    padding: 0 140px;
}

.col1 h3{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.col h3{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.col h3::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.col1 h3::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.col ul li:not(:last-child){
    margin-bottom: 10px;
}

.col1 ul p{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}


.col ul li a:hover{
    color: white;
    padding-left: 8px;
}


.col .Social-links a{
    font-size: 24px;
    padding-left: 8px;
    padding-top: 8px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.col .Social-links a:hover{
    color: #24262b;
    background-color: white;

}

.copyrightText{
    text-align: center;
    padding: 8px 40px;
    /* background-color: rgba(0, 0, 0, 0.851);
    color: white; */
}

@media(max-width: 767px){
    .col{
        width: 50;
        margin-bottom: 30px;
    }
    .copyrightText{
        text-align: center;
        padding: 8px 40px;
    }
}

@media(max-width: 574px){
    .col{
        width: 100;
    }
    .copyrightText{
        text-align: center;
        padding: 8px 40px;
    }
}








